In [1]:
print("Hello")

Hello

In [2]:
import os

In [6]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-2.3.2-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp313-cp313-win_amd64.whl (11.0 MB)
Installing collected packages: pandas
Successfully installed pandas-2.3.2

In [7]:
import pandas as pd

In [9]:
data =     users = [
        {
            "id": "15",
            "name": "Nikola Tesla",
            "email": "teslanikola@gmail.com",
            "mobile": "9876451321",
            "profile_pic": {
                "type": "Buffer",
                "data": [
                    49,
                    55,
                    53,
                    56,
                    56,
                    54,
                    57,
                    57,
                    50,
                    50,
                    48,
                    52,
                    55,
                    45,
                    116,
                    101,
                    115,
                    108,
                    97,
                    46,
                    119,
                    101,
                    98,
                    112
                ]
            },
            "team_name": "",
            "role": ""
        },
        {
            "id": "17",
            "name": "Christian Doppler",
            "email": "dopplereffect@gmail.com",
            "mobile": "3456789123",
            "profile_pic": {
                "type": "Buffer",
                "data": [
                    49,
                    55,
                    53,
                    56,
                    56,
                    55,
                    50,
                    53,
                    52,
                    57,
                    57,
                    56,
                    51,
                    45,
                    100,
                    111,
                    112,
                    112,
                    108,
                    101,
                    114,
                    46,
                    119,
                    101,
                    98,
                    112
                ]
            },
            "team_name": "",
            "role": ""
        },
        {
            "id": "18",
            "name": "Nelson Mandela",
            "email": "mandelaafrican@gmail.com",
            "mobile": "3456789114",
            "profile_pic": {
                "type": "Buffer",
                "data": [
                    49,
                    55,
                    53,
                    56,
                    56,
                    55,
                    50,
                    55,
                    49,
                    50,
                    51,
                    54,
                    52,
                    45,
                    110,
                    101,
                    108,
                    115,
                    111,
                    110,
                    95,
                    109,
                    97,
                    110,
                    100,
                    101,
                    108,
                    97,
                    46,
                    119,
                    101,
                    98,
                    112
                ]
            },
            "team_name": "",
            "role": ""
        }
    ]

In [11]:
df = pd.DataFrame(data)

In [12]:
df

,id,name,email,mobile,profile_pic,team_name,role
0,15,Nikola Tesla,teslanikola@gmail.com,9876451321,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,
1,17,Christian Doppler,dopplereffect@gmail.com,3456789123,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,
2,18,Nelson Mandela,mandelaafrican@gmail.com,3456789114,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,

In [13]:
df.to_csv('users.csv', index=False)

In [14]:
pd.read_csv('users.csv')

,id,name,email,mobile,profile_pic,team_name,role
0,15,Nikola Tesla,teslanikola@gmail.com,9876451321,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",NaN,NaN
1,17,Christian Doppler,dopplereffect@gmail.com,3456789123,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",NaN,NaN
2,18,Nelson Mandela,mandelaafrican@gmail.com,3456789114,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",NaN,NaN

In [16]:
! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [17]:
df.to_excel('users.xlsx', index=False)

In [18]:
df

,id,name,email,mobile,profile_pic,team_name,role
0,15,Nikola Tesla,teslanikola@gmail.com,9876451321,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,
1,17,Christian Doppler,dopplereffect@gmail.com,3456789123,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,
2,18,Nelson Mandela,mandelaafrican@gmail.com,3456789114,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,