In [1]:
print("Hello")

Hello

In [2]:
import os

In [6]:
! pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Using cached pandas-2.3.2-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\bitmax\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.2-cp313-cp313-win_amd64.whl (11.0 MB)
Installing collected packages: pandas
Successfully installed pandas-2.3.2

In [1]:
import pandas as pd

In [2]:
data =   [


        {
            "id": "6",
            "team_id": "17",
            "provider": "Twilio",
            "number": "+919876543211",
            "metadata": {
                "type": "mobile",
                "region": "IN"
            },
            "created_at": "2025-09-27T12:17:43.034Z",
            "company_id": "2"
        },
        {
            "id": "5",
            "team_id": "17",
            "provider": "Twilio",
            "number": "+919876543210",
            "metadata": {
                "type": "mobile",
                "region": "IN"
            },
            "created_at": "2025-09-27T12:17:24.291Z",
            "company_id": "2"
        }
    

]

In [3]:
df = pd.json_normalize(data)

In [4]:
df

,id,team_id,provider,number,created_at,company_id,metadata.type,metadata.region
0,6,17,Twilio,+919876543211,2025-09-27T12:17:43.034Z,2,mobile,IN
1,5,17,Twilio,+919876543210,2025-09-27T12:17:24.291Z,2,mobile,IN

In [5]:
df.to_csv('users.csv', index=False)

In [6]:
pd.read_csv('users.csv')

,id,team_id,provider,number,created_at,company_id,metadata.type,metadata.region
0,6,17,Twilio,919876543211,2025-09-27T12:17:43.034Z,2,mobile,IN
1,5,17,Twilio,919876543210,2025-09-27T12:17:24.291Z,2,mobile,IN

In [16]:
! pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [17]:
df.to_excel('users.xlsx', index=False)

In [18]:
df

,id,name,email,mobile,profile_pic,team_name,role
0,15,Nikola Tesla,teslanikola@gmail.com,9876451321,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,
1,17,Christian Doppler,dopplereffect@gmail.com,3456789123,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,
2,18,Nelson Mandela,mandelaafrican@gmail.com,3456789114,"{'type': 'Buffer', 'data': [49, 55, 53, 56, 56...",,